* {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover; }

.nav .nav-div ul {
  text-align: center;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .nav .nav-div ul li .shopping {
    font-size: 2rem;
    cursor: pointer;
    transition: 50s ease-in-out; }
  .nav .nav-div ul li .hideshopping {
    transform: translateX(-1000000px); }
  .nav .nav-div ul li .carrito {
    cursor: pointer; }
  .nav .nav-div ul li a {
    color: black;
    transition: .3s;
    background-image: radial-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-size: 0% 0%, 2.5px; }
    .nav .nav-div ul li a:hover {
      color: green;
      background-size: 100% 2px; }

.index-main {
  display: grid;
  grid-template-areas: "products1 products2" "sect1 sect2" ". sect2" "main3 main3" "containerToast containerToast" "mainSec4 mainSec4";
  margin-bottom: none; }
  .index-main .container-toast {
    grid-area: containerToast;
    position: fixed;
    bottom: 1.5px;
    right: 1.5px;
    z-index: 1031; }
    .index-main .container-toast .separator-hide {
      padding: .8rem;
      opacity: 1;
      min-width: 20px;
      max-height: 142.17px;
      font-size: 1rem;
      color: #21232a;
      margin-bottom: 1rem;
      background-color: green;
      font-weight: bold;
      transform: translateX(0px);
      transition: .5s ease-in-out; }
    .index-main .container-toast .hide-separator {
      transform: translateX(600px); }
  .index-main .main-section-1 {
    grid-area: sect1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-left: 25px;
    margin-right: 25px; }
    .index-main .main-section-1 .blocked {
      transition: 20s;
      display: none; }
    .index-main .main-section-1 form {
      border: .1px solid black;
      margin-bottom: 5px; }
      .index-main .main-section-1 form div {
        padding: 0 auto; }
        .index-main .main-section-1 form div button {
          display: flex;
          border: 0;
          background-color: green;
          color: white;
          width: 50%;
          border-radius: 10px;
          margin: 0 auto;
          justify-content: center; }
  .index-main #main-section-2 {
    grid-area: sect2;
    display: flex;
    flex-wrap: wrap; }
    .index-main #main-section-2 div {
      display: flex;
      flex-direction: column;
      margin: 30px;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      .index-main #main-section-2 div img {
        width: 100%;
        max-width: 270px;
        min-height: 270px;
        max-height: 270px; }
      .index-main #main-section-2 div .borderDel {
        font-weight: 700;
        margin: 5px auto; }
        .index-main #main-section-2 div .borderDel span {
          font-weight: bold; }
      .index-main #main-section-2 div h2 {
        text-decoration: none;
        color: black;
        border: .1px solid black;
        font-size: 20px;
        font-weight: bold; }
      .index-main #main-section-2 div .nodisplay {
        display: none; }
  .index-main .main-section-3 {
    display: block;
    top: 15px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 71, 85, 0.5);
    padding: 20px;
    min-height: 70vh;
    max-height: 70vh;
    transform: translate(0vw, -15px);
    transition: .5s ease-in-out;
    overflow: scroll;
    color: white; }
    .index-main .main-section-3 div .nodisplay {
      display: none; }
    .index-main .main-section-3 div img {
      border-radius: 100px;
      background-color: gray;
      width: 50px; }
    .index-main .main-section-3 div .boton_de_eliminar {
      border: none;
      background-color: red;
      color: white;
      padding: 5px;
      border-radius: 10px; }
    .index-main .main-section-3 li {
      list-style: none; }
      .index-main .main-section-3 li a {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 5px;
        border-radius: 20px; }
  .index-main .endPrice {
    border-top: .1px solid black; }
  .index-main .hide {
    transition: .5s ease-in-out;
    transform: translateX(-100vw); }
  .index-main .products1 {
    text-align: center;
    grid-area: products1;
    margin-right: 10px;
    margin-left: 10px; }
    .index-main .products1 h2 {
      font-size: 16px;
      border-bottom: .1px solid black;
      opacity: 50%; }
  .index-main .products2 {
    text-align: center;
    grid-area: products2; }
    .index-main .products2 h2 {
      font-size: 16px;
      border-bottom: .1px solid black;
      opacity: 50%;
      margin-right: 10px;
      margin-left: 10px; }
  .index-main .button {
    grid-area: button;
    margin: 0 auto;
    width: 100%;
    max-width: 100px;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px; }

.headerLoguin {
  background-color: #002957;
  padding-bottom: 10px; }
  .headerLoguin form {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    margin-right: 10px; }
    .headerLoguin form input:first-of-type {
      margin-right: 20px; }
    .headerLoguin form a {
      text-decoration: none;
      color: white;
      padding: 2px;
      background-color: green;
      margin-left: 5px; }
    .headerLoguin form .boton {
      border: none;
      margin: 0 5px;
      padding: 2px;
      color: white;
      background-color: #001764;
      font-weight: bold; }
    .headerLoguin form #createUsers {
      margin-right: 15px;
      border: none;
      padding: 5px;
      color: white;
      background-color: rgba(0, 174, 64, 0.5);
      border-radius: 10px; }

.main-inicio {
  margin-bottom: 880px; }

footer {
  background-color: #002957;
  padding: 19.5px; }

@media (max-width: 680px) {
  .headerLoguin {
    width: 100%;
    display: flex;
    justify-content: center; }
    .headerLoguin form {
      flex-direction: column; }
      .headerLoguin form input {
        width: 90%;
        max-width: 200px; }
        .headerLoguin form input:nth-of-type(1) {
          margin-left: 5px; }
        .headerLoguin form input:nth-of-type(2) {
          margin-left: 5px; }
      .headerLoguin form a {
        width: 90%;
        max-width: 200px;
        padding: 0;
        text-align: center; } }

.botonS {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.2rem; }

.mainCompra {
  display: grid;
  grid-template-areas: "products form"; }
  .mainCompra #onlyMain {
    grid-area: products;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap; }
    .mainCompra #onlyMain div {
      margin: 5px 10px;
      text-align: center; }
      .mainCompra #onlyMain div img {
        max-width: 100px; }
      .mainCompra #onlyMain div p {
        font-weight: bold; }
    .mainCompra #onlyMain .total-cantidad {
      background-color: green;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px; }
      .mainCompra #onlyMain .total-cantidad p:first-of-type {
        border-top: .1px solid black;
        border-bottom: .1px solid black;
        padding-bottom: 15px; }
  .mainCompra #sectionBuy {
    grid-area: form; }
    .mainCompra #sectionBuy form div {
      display: flex;
      justify-content: center; }
      .mainCompra #sectionBuy form div:first-of-type {
        flex-wrap: wrap; }
        .mainCompra #sectionBuy form div:first-of-type input {
          margin: 10px auto;
          width: 90%;
          max-width: 300px; }
      .mainCompra #sectionBuy form div input {
        text-align: center;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: rgba(242, 248, 192, 0.5);
        padding: 5px;
        margin: 20px 0;
        width: 95%;
        border: .1px solid black;
        transition: .3s ease-in-out; }
        .mainCompra #sectionBuy form div input:focus {
          border: none;
          border-bottom: .1px solid black;
          padding-left: 5px; }
    .mainCompra #sectionBuy form #acceptButton button {
      background-color: rgba(0, 128, 0, 0.7);
      font-weight: bold;
      font-size: 20px;
      transition: .5s ease-in-out;
      border: none;
      width: 80%;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
      border: .1px solid black; }
    .mainCompra #sectionBuy form select {
      width: 90%;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      min-width: 15ch;
      max-width: 30ch;
      border: 1px solid black;
      border-radius: 0.25em;
      padding: 0.25em 0.5em;
      font-size: 1.25rem;
      cursor: pointer;
      line-height: 1.1;
      background-color: #fff;
      background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
      justify-content: center;
      outline: none; }
      .mainCompra #sectionBuy form select option {
        min-width: 15ch;
        max-width: 30ch; }

@media (max-width: 768px) {
  .mainCompra {
    grid-template-areas: "form form" "products products"; } }

.bodyAUS {
  display: grid;
  grid-template-areas: "header header nav" "main main main" "footer footer footer"; }

.nav .nav-div ul {
  justify-content: none; }
  .nav .nav-div ul li {
    list-style: none; }
    .nav .nav-div ul li a {
      color: black;
      transition: .3s;
      background-image: radial-gradient(currentColor, currentColor);
      background-position: 50% 100%;
      background-size: 0% 0%, 2.5px; }
      .nav .nav-div ul li a:hover {
        color: green;
        background-size: 100% 2px; }

.main-aus {
  grid-area: main; }
  .main-aus section {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 10px; }
    .main-aus section iframe {
      width: 90%; }

@media (max-width: 1001px) {
  .bodyAUS {
    grid-template-areas: "header header header" "main main main" "nav nav nav" "footer footer footer"; } }

.header {
  display: flex;
  flex-wrap: wrap; }
  .header h1 a {
    text-decoration: none;
    color: white; }
  .header p {
    margin: 20px 0 0 20px;
    font-weight: bold; }

@media (max-width: 991.5px) {
  .header {
    text-align: center; } }

.footer {
  display: flex; }
  .footer .copyright {
    width: 100%;
    text-align: center; }
    .footer .copyright h3 {
      font-size: 15px; }
  .footer .footer-redes {
    margin-left: auto;
    display: flex; }
    .footer .footer-redes img {
      width: 25px;
      height: 25px;
      border-radius: 30%; }

.header {
  grid-area: header; }

.nav {
  grid-area: nav; }

.index-main {
  grid-area: main-index; }

.footer {
  grid-area: footer; }

.grid-index {
  display: grid;
  grid-template-areas: "header header nav" "main-index main-index main-index" "footer footer footer"; }

@media (max-width: 1001px) {
  .grid-index {
    grid-template-areas: "header header" "main-index main-index" "nav nav" "footer footer"; }
  .index-main {
    grid-template-areas: "products1 products1" "sect1 sect1" "products2 products2" "sect2 sect2" "main3 main3" "mainSec4 mainSec4" "button button"; }
  .main-section-1 form div {
    padding: 2px;
    border: .1px solid black;
    margin: 10px; }
  .main-section-1 .blocked {
    display: none; }
  .nav {
    position: fixed;
    bottom: 0;
    min-height: 50px;
    width: 100%; }
    .nav div {
      transition: .3s;
      height: 50px; }
      .nav div ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap; }
        .nav div ul li i {
          margin-top: 10px;
          font-size: 2rem; } }

@media (max-width: 437px) {
  #main-section-4 form #div1 input {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto; } }
