* {
  padding: 0;
  margin: 0; }

.nav .nav-div ul {
  text-align: center;
  margin-left: auto;
  display: flex;
  justify-content: space-around; }
  .nav .nav-div ul li .carrito {
    font-size: 2rem;
    cursor: pointer;
    transition: 50s ease-in-out; }
  .nav .nav-div ul li .hidecarrito {
    transform: translateX(-1000000px); }
  .nav .nav-div ul li a {
    color: black;
    transition: .3s; }
    .nav .nav-div ul li a:hover {
      font-size: 20px;
      color: green; }

.index-main {
  display: grid;
  grid-template-areas: "products1 products2" "sect1 sect2" ". sect2" "main3 main3" "mainSec4 mainSec4";
  margin-bottom: none; }
  .index-main .main-section-1 {
    grid-area: sect1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto; }
    .index-main .main-section-1 .blocked {
      transition: 20s;
      display: none; }
    .index-main .main-section-1 form {
      border: .1px solid black;
      margin-bottom: 5px; }
      .index-main .main-section-1 form div {
        padding: 0 auto; }
        .index-main .main-section-1 form div button {
          border: 0;
          background-color: green;
          color: white;
          width: 50%;
          border-radius: 10px; }
  .index-main #main-section-2 {
    grid-area: sect2;
    display: flex;
    flex-wrap: wrap; }
    .index-main #main-section-2 div {
      display: flex;
      flex-direction: column;
      margin: 30px;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      .index-main #main-section-2 div img {
        width: 90%;
        max-width: 300px; }
      .index-main #main-section-2 div .borderDel {
        font-weight: 700;
        margin: 5px auto; }
        .index-main #main-section-2 div .borderDel span {
          font-weight: bold; }
      .index-main #main-section-2 div h2 {
        text-decoration: none;
        color: black;
        border: .1px solid black;
        font-size: 20px;
        font-weight: bold; }
      .index-main #main-section-2 div .nodisplay {
        display: none; }
  .index-main .main-section-3 {
    display: block;
    top: 15px;
    right: 15px;
    position: fixed;
    background-color: #004755;
    padding: 20px;
    min-height: 98vh;
    max-height: 98vh;
    transform: translate(15px, -15px);
    transition: .5s ease-in-out;
    overflow: scroll;
    color: white; }
    .index-main .main-section-3 div .nodisplay {
      display: none; }
    .index-main .main-section-3 div img {
      border-radius: 100px;
      background-color: gray;
      width: 50px; }
    .index-main .main-section-3 li {
      list-style: none; }
      .index-main .main-section-3 li a {
        text-decoration: none;
        color: white;
        background-color: green;
        padding: 5px;
        border-radius: 20px; }
  .index-main .endPrice {
    border-top: .1px solid black; }
  .index-main .hide {
    transition: .5s ease-in-out;
    transform: translateX(-100vw); }
  .index-main .products1 {
    text-align: center;
    grid-area: products1;
    margin-right: 10px;
    margin-left: 10px; }
    .index-main .products1 h2 {
      font-size: 16px;
      border-bottom: .1px solid black;
      opacity: 50%; }
  .index-main .products2 {
    text-align: center;
    grid-area: products2; }
    .index-main .products2 h2 {
      font-size: 16px;
      border-bottom: .1px solid black;
      opacity: 50%;
      margin-right: 10px;
      margin-left: 10px; }
  .index-main .button {
    grid-area: button;
    margin: 0 auto;
    width: 100%;
    max-width: 100px;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px; }
  .index-main #main-section-4 {
    grid-area: mainSec4;
    display: grid;
    grid-template-areas: "productos" "cantidad" "precioFinal";
    height: auto; }
    .index-main #main-section-4 div {
      grid-area: productos;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .index-main #main-section-4 div span {
        display: none; }
      .index-main #main-section-4 div .nodisplay {
        display: none; }
      .index-main #main-section-4 div img {
        width: 50px; }
    .index-main #main-section-4 p:last-of-type {
      grid-area: cantidad; }
    .index-main #main-section-4 .endPrice {
      grid-area: precioFinal; }
    .index-main #main-section-4 .comprar {
      display: none; }
    .index-main #main-section-4 #form {
      background-color: #686767; }
      .index-main #main-section-4 #form div {
        margin: 20px 0;
        margin-left: 5px;
        margin-right: 5px; }
        .index-main #main-section-4 #form div input {
          text-align: center;
          background-color: #b57d7d;
          border: none;
          color: white;
          font-weight: bold;
          outline: none;
          border-radius: 5px;
          transition: .5s; }
          .index-main #main-section-4 #form div input:hover {
            border-bottom: 0.1px solid #00194a; }
        .index-main #main-section-4 #form div:nth-of-type(3) {
          justify-content: center; }
        .index-main #main-section-4 #form div:last-of-type {
          justify-content: center; }
          .index-main #main-section-4 #form div:last-of-type input {
            padding: 2px; }
      .index-main #main-section-4 #form .mail {
        justify-content: center; }

header {
  background-color: #002957;
  padding-bottom: 10px; }
  header form {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    margin-right: 10px; }
    header form input:first-of-type {
      margin-right: 20px; }
    header form a {
      text-decoration: none;
      color: white;
      padding: 2px;
      background-color: green;
      margin-left: 5px; }
    header form .boton {
      border: none;
      margin: 0 5px;
      padding: 2px;
      color: white;
      background-color: #001764;
      font-weight: bold; }

.main-inicio {
  margin-bottom: 880px; }

footer {
  background-color: #002957;
  padding: 19.5px; }

.header {
  display: flex;
  flex-wrap: wrap; }
  .header p {
    margin: 20px 0 0 20px;
    font-weight: bold; }

@media (max-width: 991.5px) {
  .header {
    text-align: center; } }

.footer {
  display: flex; }
  .footer .copyright {
    width: 100%;
    text-align: center; }
    .footer .copyright h3 {
      font-size: 15px; }
  .footer .footer-redes {
    margin-left: auto;
    display: flex; }
    .footer .footer-redes img {
      width: 25px;
      height: 25px;
      border-radius: 30%; }

.header {
  grid-area: header; }

.nav {
  grid-area: nav; }

.index-main {
  grid-area: main-index; }

.footer {
  grid-area: footer; }

.grid-index {
  display: grid;
  grid-template-areas: "header header nav" "main-index main-index main-index" "footer footer footer"; }

@media (max-width: 991.5px) {
  .grid-index {
    grid-template-areas: "header header" "main-index main-index" "nav nav" "footer footer"; }
  .index-main {
    grid-template-areas: "products1 products1" "sect1 sect1" "products2 products2" "sect2 sect2" "main3 main3" "mainSec4 mainSec4" "button button"; }
  .main-section-1 form div {
    padding: 2px;
    border: .1px solid black;
    margin: 10px; }
  .main-section-1 .blocked {
    display: none; }
  .nav {
    position: fixed;
    bottom: 0;
    min-height: 50px;
    width: 100%; }
    .nav div {
      transition: .3s;
      height: 50px; }
      .nav div ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap; }
        .nav div ul form {
          display: none; } }
