.index-main {
    display: grid;
    grid-template-areas:
        "products1 products2"
        "sect1 sect2"
        ". sect2"
        "main3 main3"
        "containerToast containerToast"
        "mainSec4 mainSec4";
    margin-bottom: none;

    .container-toast {
        grid-area: containerToast;
        position: fixed;
        bottom: 1.5px;
        right: 1.5px;
        z-index: 1031;

        .separator-hide {
            padding: .8rem;
            opacity: 1;
            min-width: 20px;
            max-height: 142.17px;
            font-size: 1rem;
            color: #21232a;
            margin-bottom: 1rem;
            background-color: green;
            font-weight: bold;
            transform: translateX(0px);
            transition: .5s ease-in-out;
        }

        .red {
            background-color: red;
        }

        .hide-separator {
            transform: translateX(600px);
        }
    }

    .main-section-1 {
        grid-area: sect1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        margin-left: 25px;
        margin-right: 25px;

        .blocked {
            transition: 20s;
            display: none;
        }

        form {
            border: .1px solid black;
            margin-bottom: 5px;

            div {
                padding: 0 auto;

                button {
                    display: flex;
                    border: 0;
                    background-color: green;
                    color: white;
                    width: 50%;
                    border-radius: 10px;
                    margin: 0 auto;
                    justify-content: center;
                }
            }
        }
    }

    #main-section-2 {
        grid-area: sect2;
        display: flex;
        flex-wrap: wrap;

        div {
            display: flex;
            flex-direction: column;
            margin: 30px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            img {
                width: 100%;
                max-width: 270px;
                min-height: 270px;
                max-height: 270px;
            }

            .borderDel {
                font-weight: 700;
                margin: 5px auto;

                span {
                    font-weight: bold;
                }
            }

            h2 {
                text-decoration: none;
                color: black;
                border: .1px solid black;
                font-size: 20px;
                font-weight: bold;
            }

            .nodisplay {
                display: none;
                ;
            }
        }
    }

    .main-section-3 {
        display: block;
        top: 15px;
        left: 0px;
        position: fixed;
        background-color: rgba(0, 71, 85, 0.5);
        padding: 20px;
        min-height: 70vh;
        max-height: 70vh;
        transform: translate(0vw, -15px);
        transition: .5s ease-in-out;
        overflow: scroll;
        color: white;

        div {
            margin-top: 10px;

            .nodisplay {
                display: none;
            }

            img {
                border-radius: 100px;
                background-color: gray;
                width: 50px;
            }

            .boton_de_eliminar {
                border: none;
                background-color: red;
                color: white;
                width: 35px;
                border-radius: 35%;
                font-weight: bolder;
                font-size: 1.5rem;
            }

            .boton_de_agregar {
                border: none;
                background-color: green;
                color: white;
                border-radius: 35%;
                font-weight: bolder;
                width: 35px;
                font-size: 1.5rem;
            }
        }

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: white;
                background-color: green;
                padding: 5px;
                border-radius: 20px;
            }
        }
    }

    .endPrice {
        border-top: .1px solid black;
    }

    .hide {
        transition: .5s ease-in-out;
        transform: translateX(-100vw);
    }

    .products1 {
        text-align: center;
        grid-area: products1;
        margin-right: 10px;
        margin-left: 10px;

        h2 {
            font-size: 16px;
            border-bottom: .1px solid black;
            opacity: 50%;
        }
    }

    .products2 {
        text-align: center;
        grid-area: products2;

        h2 {
            font-size: 16px;
            border-bottom: .1px solid black;
            opacity: 50%;
            margin-right: 10px;
            margin-left: 10px;
        }
    }

    .button {
        grid-area: button;
        margin: 0 auto;
        width: 100%;
        max-width: 100px;
        border: 0;
        background-color: black;
        color: white;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}