* {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

@import "navbootstrap";
@import "main-index";
@import "loguin";
@import "main-compra";
@import "aus";
@import "header";
@import "footer";
@import "mediaqueries";